body {
    background-color: #212529;
}
header{
    border-bottom: 2px solid rgb(128, 128, 128);
}
.container > table {
    margin-top: 1em;
}
#bodyItem img{
    width: 25px;
    height: 25px;
}
footer > p{
    color: #ffffff;
}