
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
</head>
<body>
    <header>
        @Html.Partial("_MenuBar")
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <div>
        @Html.Partial("_FooterBar")
    </div>
</body>
</html>
